$trout: #4e5860;
$alabaster: #fafafa;
$white: #ffffff;
$cadetBlue:#aab2bd;
$athensGray: #e6e9ed;
$mineShaft: #303030;
$trout: #4e5860;
$redOrange: #ff3c1f;
$nevada: #656d78;
$athensGray: #e6e9ed;
$valencia: #d14a39;
$shuttleGray: #656d7a;
$iron: #e1e2e4;
$abbey: #57595b;