$headerBackground: $trout;
$logoTextColor: $alabaster;
$navColor: $alabaster;
$breadcrumbColor: $white;
$dateColor: $cadetBlue;
$borderPostColor: $athensGray;
$iconBackground: $redOrange;
$headingColor: $mineShaft;
$metaColor: $mineShaft;
$descriptionColor: $trout;
$hrColor: $athensGray;
$buttonBorderColor: $redOrange;
$buttonBackground: $white;
$buttonTextColor: $redOrange;
$buttonBackgroundHover: $redOrange;
$buttonTextColorHover: $white;
$paginationNavLink: $nevada;
$paginationNavLinkHover: $redOrange;
$copyrightColor: $athensGray;
$footerBackground: $mineShaft;
$inputBorderColor: $cadetBlue;
$categoriesTextColor: $trout;
$categoriesUnderline: $cadetBlue;
$tagsText: $trout;
$tagsBorder:$cadetBlue;
$tagsBackgroundHover: $redOrange;
$tagsTextHover: $white;
$recentPostHeader: $mineShaft;
$recentPostDate: $redOrange;
$commentTextColor: $trout;
$replyColor: $redOrange;
$minimizedBackground: $nevada;
$minimizedImgBorder: $redOrange;
$paralaxColor: $white;
$paralaxBackground: $valencia;
$statisticBackground: $shuttleGray;
$statisticColor: $white;
$latestPostsColor: $nevada;
$latestBorder: $cadetBlue;
$releatedMedia: $iron;
$releatedPosts: $nevada;
$releatedHeader: $white;
$borderPostColor: $athensGray;
$buttonToTopBackground: $abbey;
$twitterFeedLink: $redOrange;
$twitterNews: $trout;
$askewBorder:$cadetBlue;